/* compiled by scssphp v0.0.9 on Thu, 19 Mar 2015 11:10:05 +0100 (0.0144s) */

@font-face {
  font-family: "Comic Neue";
  src: url("../../fonts/ComicNeue-Angular-Regular.woff"); }

body {
  margin: 0px;
  padding: 0px;
  background-color: #efefef; }
