/* compiled by scssphp v0.0.9 on Tue, 03 Mar 2015 11:19:31 +0100 (0.0385s) */

@font-face {
  font-family: "Comic Neue";
  src: url("../../fonts/ComicNeue-Angular-Regular.woff"); }

body {
  margin: 0px;
  padding: 0px;
  background-color: #efefef; }

.container {
  max-width: 400px;
  margin: 0px auto;
  overflow: auto;
  padding: 0px 20px 30px 20px;
  background-color: white;
  box-shadow: 1px 1px 3px -2px #444;
  border-radius: 3px; }
  .container .page {
    display: none;
    font-family: "Comic Neue", Arial, serif; }
    .container .page h3 {
      margin: 10px 0px;
      padding: 5px 0px;
      text-align: center;
      border-bottom: solid 1px #666; }
    .container .page form {
      background: none;
      margin: 0px auto 0;
      width: 100%; }
      .container .page form input {
        font-family: "Comic Neue", Arial, serif;
        display: block;
        font-size: 14px;
        width: 90%;
        margin: 10px 2%;
        padding: 10px 3%;
        border-radius: 3px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .55), 0px 1px 1px rgba(255, 255, 255, .5);
        border: 1px solid #666;
        opacity: 0.5; }
        .container .page form input:hover, .container .page form input:focus {
          opacity: 0.7;
          color: #08c;
          border: 1px solid #08c;
          box-shadow: 0px 1px 0px rgba(255, 255, 255, .25), inset 0px 3px 6px rgba(0, 0, 0, .25); }
        .container .page form input:focus {
          box-shadow: inset 0 1px 2px rgba(255, 255, 255, .35), 0px 1px 15px rgba(0, 246, 255, .5);
          border: 1px solid #08c;
          outline: none; }
    .container .page .flex {
      display: flex; }
    .container .page .buttons {
      margin: 10px auto;
      display: table; }
      .container .page .buttons:after {
        content: "";
        display: table;
        clear: both; }
      .container .page .buttons.kanan {
        margin: 10px 0px 10px auto; }
      .container .page .buttons.kiri {
        margin: 10px auto 10px 0px; }
    .container .page .button {
      width: initial;
      opacity: 0.99;
      background: #08c;
      box-shadow: inset 0 1px 2px rgba(255, 255, 255, .35), 0px 1px 6px rgba(0, 246, 255, .5);
      border: 1px solid #0a5378;
      border-radius: 4px;
      color: #eee;
      cursor: pointer;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, .5); }
      .container .page .button.single {
        padding: 10px 15px;
        text-align: center;
        float: left;
        margin: 0px 5px; }
      .container .page .button:hover {
        color: #eee;
        background: #08c;
        border: 1px solid #0a5378;
        border-radius: 3px;
        box-shadow: inset 0px 3px 16px rgba(0, 0, 0, .25), 0px 1px 10px rgba(255, 255, 255, .5), inset 0px -1px 2px rgba(255, 255, 255, .35);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, .65);
        -webkit-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out; }
      .container .page .button:focus {
        color: #eee; }
    .container .page .daftar_barang:after {
      content: "";
      display: table;
      clear: both; }
      .container .page .daftar_barang .barang {
        width: 94%;
        display: flex;
        padding: 5px 3%;
        border-bottom: solid 1px #444; }
        .container .page .daftar_barang .barang .nama {
          width: 100%;
          padding: 0px 5px 0px 0px;
          margin: 0px 2.5px 0px 0px; }
        .container .page .daftar_barang .barang .jumlah {
          min-width: 25px;
          padding: 0px 5px;
          margin: 0px 2.5px; }
        .container .page .daftar_barang .barang .harga {
          min-width: 130px;
          padding: 0px 0px 0px 5px;
          margin: 0px 0px 0px 2.5px;
          text-align: right;
          position: relative; }
          .container .page .daftar_barang .barang .harga:before {
            content: "Rp ";
            display: inline;
            left: 0;
            position: absolute; }
          .container .page .daftar_barang .barang .harga:after {
            content: " ,-"; }
        .container .page .daftar_barang .barang.banyak {
          display: block; }
          .container .page .daftar_barang .barang.banyak .barang {
            border-bottom: 0px;
            width: 100%;
            padding: 0px; }
            .container .page .daftar_barang .barang.banyak .barang .masing {
              font-style: italic;
              font-size: small;
              letter-spacing: 0.1em; }
      .container .page .daftar_barang .total {
        border-bottom: 0px;
        border-top: solid 2px #444; }
        .container .page .daftar_barang .total .nama {
          font-style: italic; }
    .container .page .daftar_belanja {
      padding: 0px 5px; }
      .container .page .daftar_belanja .belanja {
        width: 100%;
        display: flex;
        margin: 5px 0px;
        background-color: #efefef;
        border-radius: 3px;
        box-shadow: 1px 1px 3px -1px #666; }
        .container .page .daftar_belanja .belanja .content {
          width: 100%;
          padding: 10px; }
        .container .page .daftar_belanja .belanja .tanggal {
          padding: 10px;
          min-width: 92px; }
        .container .page .daftar_belanja .belanja .buttons {
          padding: 10px;
          min-width: 27px; }
          .container .page .daftar_belanja .belanja .buttons .button {
            width: 25px;
            text-align: center; }
    .container .page .total_belanja {
      margin: 10px 5px;
      padding: 7px 10px;
      background-color: #0389cc;
      text-align: right;
      color: white;
      font-weight: bold;
      font-size: x-large;
      border-radius: 2px; }
