$baseUrl: "../../";
$fontColor: #444;
$linkColor: #75D1FF;

@mixin easing() {
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@font-face {
    font-family: "Comic Neue";
    src: url($baseUrl + "fonts/ComicNeue-Angular-Regular.woff");
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #efefef;
}